@at-root {
  :root {
    --section-py: 60px;
  }
}
.layout {
  &__main {
    margin-top: var(--header-height);
    padding-top: var(--section-py);
    padding-bottom: calc(var(--section-py) * 2);
  }
}
